:root {
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333;
  --gray-300: #808080;
  --blue: #4ea8de;
  --blue-dar: #1e6f9f;
  --purple: #5e60ce;
  --white: #fff;
}
